snippet head
	#!/usr/bin/env python3
	# -*- coding: utf-8 -*-
	"""
	${1:`vim_snippets#Filename('$1.py', 'foo.py')`}
	~~~~~~~~~~~~~~~~~

	${2:description}

	:copyright: (c) `system("date +%Y")` by Cameron Dershem.
	:license: see TOPMATTER
	:source: github.com/cldershem/${4:repo}
	"""

